:root{
  --bg-color: rgb(40,40,40);
  --bg-text-color: white;
  --fg-color: rgb(60,60,60);
  --fg-hov-color: rgb(55,55,55);
  --fg-act-color: rgb(50,50,50);
  --fg-dark-color: rgb(20,20,20);/*Scroll Color*/
  --text-color: white;
  --text-hov-color: rgb(215,215,215);
  --text-act-color: rgb(175,175,175);
  --link-color: red;
  --link-hov-color: rgb(225,00,00);
  --link-act-color: rgb(205,00,00);
  --link-text-color: white;
  --shadow-color: rgb(40,40,40);
  --overlay-color:rgba(20, 20, 20, 0.5);
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track{
  background-color: var(--fg-dark-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--fg-hov-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--fg-act-color);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-button{
  height: 10px;
  width: 10px;
  background-size: 100%;
  background-color: var(--fg-dark-color);
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url("baseline_expand_more_white_18dp.png");
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("baseline_expand_less_white_18dp.png");
}
::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("baseline_chevron_right_white_18dp.png");
}
::-webkit-scrollbar-button:horizontal:decrement{
  background-image: url("baseline_chevron_left_white_18dp.png");
}
/* ::-webkit-scrollbar-button:end {
    display: block;
} */
::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement{
    display: none;
}
::-webkit-scrollbar-corner{
  background-color: var(--fg-dark-color);
}
*{
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
  user-select: none;
  transition: .25s;
}
h1,h2,h3,h4,h5,h6,p{
  user-select: text;
}
html,body{
  background-color: var(--bg-color);
  margin: 0;
  padding:0;
}
html{
  overflow-y: scroll;
}
h1,h2,h3,h4,h5,h6{
  padding-bottom: 2px;
  /* border-bottom: 1px solid var(--text-color); */
}
header{
  float: left;
  background-color: var(--fg-color);
  position: fixed;
  height: 100vh;
  z-index: 1;
  top:0;
  transition: all 0.25s, height 0ms;
}
a{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
a.nav{
  display: block;
  color: var(--text-color);
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
  /* transition: background 0.25s; */
}
a.nav:hover{
  background-color: var(--fg-hov-color);
}
a.nav:active{
  background-color: var(--fg-act-color);
}
/* a.nav.active{
  background-color: var(--link-color);
  color: var(--text-color);
}
a.nav.active:hover{
  background-color: var(--link-hov-color);
  color: var(--text-color);
}
a.nav.active:active{
  background-color: var(--link-act-color);
  color: var(--text-color);
} */
a.nav.active *{
  color: var(--link-text-color);
}
a.nav span{
  position: relative;
  z-index: 2;
}
.tooltip{
  background-color: var(--fg-color);
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  position: absolute;
  box-shadow: 0 0 20px 0px var(--shadow-color);
}
.tooltip[aria-hidden="true"]{
  opacity: 0;
}
.tooltip[aria-hidden="false"]{
  opacity: 1;
}
.tooltip-arrow{
  border-style: solid;
  position: absolute;
  border-color: var(--fg-color);
}
.tooltip-inner{
  color: var(--text-color);
}
.tooltip, .tooltip-arrow, .tooltip-inner{
  z-index: 3;
  visibility: visible !important;
  transition: opacity 0.5s;
}
.tooltip[x-placement^="right"] .tooltip-arrow{
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

#active-background{
  background-color: var(--link-color);
  color: var(--link-text-color);
  position: absolute;
  transition: top ease-out 0.25s;
  /* z-index: 0; */
}
#nav-playlists{
  font-size: 14px;
  margin: 10px;
  margin-left: 20px;
}
#navtitle{
  margin: 40px 5px;
  font-size: 26px;
  border: 0;
}
#logoimg{
  width: 40px;
  height: 40px;
  margin: 0 5px;
  vertical-align: bottom;
  position: relative;
  top: 5px;
}
#authorization-overlay{
  background-color: rgba(20,20,20,0.3);
  width: 100vw;
  height: 100vh;
  z-index: 4;
  /* display: none; */
  position: fixed;
  top:0;
  left:0;
}
.ov-sc{
  overflow-y: auto;
  height: 100%;
}
a.nav i.material-icons{
  vertical-align: bottom;
  float: right;
  position: relative;
  z-index: 3;
}
i.material-icons.arrow{
  /* transition: transform 0.5s; */
}
i.material-icons.arrow.active{
  transform: rotate(-180deg);
}
button{
  background-color: var(--link-color);
  color: var(--link-text-color);
  border: 0 solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  /* transition: background 0.25s, color 0.25s; */
}
button:hover{
  background-color: var(--link-hov-color);
}
button:active{
  background-color: var(--link-act-color);
}
#authorization-modal{
  z-index: 3;
  background-color: var(--fg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 16px;
  width: 50%;
  max-width: 100%;
  overflow-y: visible;
}
#auth-status{
  display: inline;
}
main{
  transition: none;
}
.m0{
  margin: 0;
}
.section{
  padding: 20px;
  min-height: 100%;
}
#create-section{
  text-align: center;
}
button, input{
  outline: 0;
}
input[type="text"]{
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
  /* border: 2px solid var(--fg-hov-color); */
  border: 0;
  background-color: var(--fg-color);
}
.bg-text{
  color: var(--bg-text-color);
}
.section-title{
  margin: 0;
  color: var(--bg-text-color);
}
.search-component{
  display: flex;
  top: 20px;
}
.search-component.stuck{
  position: sticky;
  box-shadow: 0 0 30px 0px var(--shadow-color);
}
.search-component.stuck *{
  border-radius: 0 !important;
}
.search-component input[type="text"]{
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-component input:not(:placeholder-shown)~button.search{
  background-color: var(--link-color);
  cursor: pointer;
}
.search-component input:not(:placeholder-shown)~button.search i.material-icons{
  color: var(--link-text-color);
}
.search-component input:not(:placeholder-shown)~button.search:hover{
  background-color: var(--link-hov-color);
}
.search-component input:not(:placeholder-shown)~button.search:active{
  background-color: var(--link-act-color);
}
.search-component button.search{
  flex-grow: 0;
  background-color: var(--fg-color);
  border-radius:0 50px 50px 0;
  cursor: not-allowed;
  /* transition: background 0.25s; */
}
.search-component button.search i.material-icons{
  font-size: 22px;
  float: right;
  /* color: var(--text-color);
  transition: color 0.25s; */
}
/* .search-component button.search:hover i.material-icons{
  color: var(--text-hov-color);
}
.search-component button.search:active i.material-icons{
  color: var(--text-act-color);
} */
.search-component .search-category i.material-icons{
  vertical-align: middle;
  transition: transform 0.25s;
}
.search-component .search-category.open i.material-icons{
  transform: rotate(-180deg);
}
.search-component .search-category {
  flex-grow: 0;
  background-color: var(--fg-color);
  background-image: url("baseline_expand_more_white_18dp.png");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 18px;
  border-radius: 0;
  border: 0;
  outline: 0;
  padding: 5px;
  padding-right: 25px;
  font-size: 16px;
}
.search-component .search-category:hover{
  background-color: var(--fg-hov-color);
}
.search-component .search-category:active{
  background-color: var(--fg-act-color);
}
.search-component .search-category option{
  background-color: var(--fg-color);
  transition: background 0.25s;
}
.search-component .search-category option:hover{
  background-color: var(--fg-hov-color);
}
.search-component .search-category option:active{
  background-color: var(--fg-act-color);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
     display: none;
}
select, option {
  border: 0;
  outline: 0;
}
.search-result-container{
  width: 100%;
  margin: 20px 0;
}
.search-result {
  background-color: var(--fg-color);
  padding: 16px;
  cursor: pointer;
  display: flex;
  text-align: left;
  align-items: center;
}
.search-result:hover {
  background-color: var(--fg-hov-color);
}
.search-result:active {
  background-color: var(--fg-act-color);
}
.search-result.selected{
  background-color: var(--link-color);
  color: var(--link-text-color);
}
.search-result.selected *{
  color: var(--link-text-color);
}
.search-result.selected:hover{
  background-color: var(--link-hov-color);
}
.search-result.selected:active{
  background-color: var(--link-act-color);
}
.search-result:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.search-result:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-result.artist img{
  width: 50px;
  height: 50px;
}
.search-result.song img{
  width: 100px;
}
.search-result.song .song-title, .search-result.artist .artist-name{
  flex-grow: 1;
  font-size: 24px;
  margin-left: 20px;
}
.search-result.song .song-duration{
  font-size: 24px;
}
.search-result.artist .artist-image img{
  border-radius: 50px;
}
.search-result.song .song-thumbnail img{
  border-radius: 4px;
}
.large-button{
  width: 100%;
  position: sticky;
  bottom: 20px;
}
.large-button.hovering{
  box-shadow: 0 0 30px 0px var(--shadow-color);
}
/*Playlist Grid*/
.playlist-container{
  /* display: inline-grid; */
  width: 100%;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  display: inline-flex;
  transform: translateZ(0);
  padding: 10px;
  box-sizing: border-box;
}
.playlist-container .playlist{
  /* width: 300px; */
  border-radius: 5px;
  background-color: var(--fg-color);
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  /* transition: transform 0.25s; */
  margin: 10px;
}
.playlist-container .playlist:hover{
  transform: scale(1.1);
}
.playlist-container .playlist:active{
  transform: scale(1.05);
}
.playlist-container .playlist-heading{
  margin: 0;
}
.playlist-container .playlist-description{
  margin: 0;
}
.playlist-container .playlist-thumbnail{
  width: 250px;
  height: 187.5px;
  border-radius: 5px;
}
/*Playlist List*/
.playlist-list{
  width: 100%;
  margin: 0 0 15px;
}
.playlist-list .playlist{
  width: 100%;
  background-color: var(--fg-color);
  display: inline-flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  /* transition: background 0.25s; */
  cursor: pointer;
  border-radius: 0;
}
.playlist-list .playlist *{
  user-select: none;
}
.playlist-list .playlist:not(:last-child){
  /* border-bottom: 1px solid var(--text-color); */

}
.playlist-list .playlist:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.playlist-list .playlist:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.playlist-list .playlist:hover{
  background-color: var(--fg-hov-color);
  /* transform: scale(1.02); */
}
.playlist-list .playlist:active{
  background-color: var(--fg-act-color);
  /* transform: scale(1.01); */
}
.playlist-list .playlist-info-container{
  flex-grow: 1;
}
.playlist-list .playlist-heading{
  margin: 0;
  font-size: 24px;
}
.playlist-list .playlist-description{
  margin: 0;
  font-size: 18px;
}
.playlist-list .playlist-thumbnail{
  width: 100px;
  height: 75px;
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 4px;
}
.playlist-list .playlist-button{
  padding: 5px;
  border-radius: 50px;
  background-color: transparent;
  min-width: 50px;
  min-height: 50px;
  margin:0 0px;
  /* background-color: var(--fg-hov-color); */
}
.playlist-list .playlist-button:hover{
  background-color: var(--fg-color);
}
.playlist-list .playlist-button:active{
  background-color: var(--link-color);
}
.playlist-list .playlist-button:active i.material-icons{
  color: var(--link-text-color);
}
.playlist-list i.material-icons{
  font-size: 30px;
  flex-shrink:0;
  color: var(--text-color);
  /* transition: color 0.25s; */
}
.playlist-list .playlist-button:hover i.material-icons{
  /* color: var(--text-hov-color); */
}
.playlist-list .playlist-button:active i.material-icons{
  /* color: var(--text-act-color); */
  /* background-color: var(--fg-act-color); */
}
/*Video list Player list*/
.playlist-player{
  display:flex;
  margin: 0 auto;
  margin-top: 10%;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.playlist-player-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
  z-index: 1;
  display: none;
}
.playlist-player-container-close{
  top: 10px;
  right: 10px;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.playlist-player-container-close:hover{
  background-color: transparent;
}
.playlist-player-container-close:active{
  background-color: transparent;
}
.playlist-player-container-close i{
  color: var(--text-color) !important;
}
.playlist-player-container-close i:hover{
  background-color: transparent;
  color: var(--text-hov-color) !important;
}
.playlist-player-container-close i:active{
  background-color: transparent;
  color: var(--text-act-color) !important;
}
#shuffle-playlists{
  /* margin: 0 auto 15px auto;
  display: block; */
  margin: 0 0 15px;
}
#shuffle-playlists i{
  vertical-align: bottom;
}
#manage-playlists-list .playlist.selected{
  background-color: var(--link-color);
  color: var(--link-text-color);
}
#manage-playlists-list .playlist.selected *{
  color: var(--link-text-color);
}
#manage-playlists-list .playlist.selected:hover{
  background-color: var(--link-hov-color);
}
#manage-playlists-list .playlist.selected:active{
  background-color: var(--link-act-color);
}
.video-player{
  width: 50%;
  margin-left: 15px;
}
.video-player-img{
  width: 100%;
}
#video-list-container{
  width: 50%;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  overflow-y: visible;
  max-height: 390px;
}
.video-list{
  border-radius: 0;
}
.video-container{
  border-radius: 5px;
}
.video-list .video:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.video-list .video:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.video:hover{
  background-color: var(--fg-hov-color);
}
.video:active{
  background-color: var(--fg-act-color);
}
.video{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fg-color);
  padding: 10px;
  box-sizing: border-box;
  /* transition: background 0.25s; */
  cursor:pointer;
}
.video:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.video:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.video.active{
  background-color: var(--link-color);
}
.video.active:hover{
  background-color: var(--link-hov-color);
}
.video.active:active{
  background-color: var(--link-act-color);
}
.video-thumbnail{
  height:37.5px;
  width:50px;
  border-radius: 2px;
}
.video-discription-container{
  flex-grow:1;
  margin-left:20px;
}
.video-title{
  font-size: 18px;
}
.playlist-title,.video-artist,.video-duration,.video-title{
  margin: 0;
}
.section.animated{
  position: absolute !important;
}
.settings-container{
  background-color: var(--fg-color);
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}
/*Style Specific*/
.toggle-options button{
  padding: 12px;
  /* transition: background 0.25s; */
  border-radius:0;
}
.toggle-options button:first-child{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.toggle-options button:not(:last-child){
  margin-right: -4px;
}
.toggle-options button:last-child{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.toggle-options button.active{
  font-weight: bold;
  text-decoration: underline;
}
#dark-theme-button{
  background-color: rgb(55,55,55);
  color: white;
}
#dark-theme-button:hover{
  background-color: rgb(50,50,50);
}
#light-theme-button{
  background-color: rgb(255,255,255);
  color: rgb(50,50,50);
}
#light-theme-button:hover{
  background-color: rgb(240,240,240);
}
#light-theme-button:active, #dark-theme-button:active{
  background-color: var(--link-color);
  color: white;
}
/*Slider Input Switch*/
.switch {
  position: relative;
  display: block;
  width: 55px;
  height: 30px;
  margin: 10px 0;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--fg-act-color);
  transition: .25s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .25s;
}
input:checked + .slider {
  background-color: var(--link-color);
}
input:checked + .slider:before {
  transform: translateX(24px);
}
#modal-overlay{
  top: 0;
  left: 0;
  position: fixed;
  width:100vw;
  height:100vh;
  background-color:var(--overlay-color);
  z-index: 1;
  display: none;
}
#modal{
  background-color:whitesmoke;
  width: 50%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 10px;
  background-color: var(--bg-color);
}
#header{
  padding: 10px;
  display: flex;
  line-height: calc(100%-50%);
}
.fill{
  flex-grow: 1;
}
#modal-header{
  margin:0;
  margin:0;
  font-size: 25px;
}
#content{
  padding:10px;
  display: flex;
}
.color-input{

}
.color-output{
  width: 50%;
}
.rgb{
  display:inline-grid;
  width:70%;
}
.sliders{
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background:var(--fg-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 5px;
}
.sliders::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  cursor: grab;
}
.sliders::-moz-range-thumb{
  width: 25px;
  height: 25px;
  background: black;
  cursor: grab;
}
.sliders::-webkit-slider-thumb:active{
  cursor: grabbing;
}
.sliders::-moz-range-thumb:active{
  cursor: grabbing;
}
/* .sliders::-moz-range-thumb:active, .sliders::-webkit-slider-thumb:active {
  cursor: grabbing;
} */
.div-container{
  display:flex;
  line-height: 25px;
  margin-left: 5px;
}
.label{
  margin:2px;
  font-size: 20px;
  width: 20px;
}
#hex{
  border-radius: 0px;
  border-bottom:2px solid var(--bg-text-color);
  background-color:var(--bg-color);
  font-size: 10px;
  margin-top: 10px;
  height: 20px;
  padding: 2.5px 5px;
}
.color_div{
  height: 90px;
  width: 30%;
  max-width: 100%;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#hex-label{
  line-height: 37px;
  margin-right: 5px;
}
.st{
  text-decoration: line-through;
}
/*Smaller Screen Compatibility*/
@media only screen and (max-width: 1000px) {
  .min-screen-display{
    display: none;
  }
  a.nav{
    text-align: center;
  }
  a.nav i.material-icons{
    float: none;
    position: relative;
  }
  #authorization-modal{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    box-sizing: border-box;
    top:0;
    left:0;
    margin: 10px;
    transform:none;
  }
  input[type="text"]{
    width:calc(100% - 85px);
  }
  .playlist-player{
    display: block;
  }
  .playlist-player-container{
    margin-top: 10px;
  }
  .video-player, #video-list-container{
    width: auto;
  }
  .playlist-container{
    display: block;
    padding: 0;
    overflow-y: visible;
  }
  .playlist-container .playlist{
    display: inline-block;
  }
}
/*DO NOT ADD CODE HERE. ADD ABOVE OR INSIDE THE MEDIA*/
