:root{
  --bg-color: rgb(40,40,40);
  --fg-color: rgb(60,60,60);
  --fg-hov-color: rgb(55,55,55);
  --fg-act-color: rgb(50,50,50);
  --text-color: white;
  --text-hov-color: rgb(215,215,215);
  --text-act-color: rgb(175,175,175);
  --link-color: red;
  --link-hov-color: rgb(225,00,00);
  --link-act-color: rgb(205,00,00);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--fg-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--fg-hov-color);
}
/* ::-webkit-scrollbar-thumb:active {
  background-color: var(--fg-act-color);
} */
*{
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
}
html,body{
  background-color: var(--bg-color);
  margin: 0;
  padding:0;
}
h1,h2,h3,h4,h5,h6{
  padding-bottom: 2px;
  /* border-bottom: 1px solid var(--text-color); */
}
header{
  float: left;
  background-color: var(--fg-color);
  position: sticky;
  height: 100vh;
  z-index: 1;
  top:0;
}
a{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
a.nav{
  display: block;
  color: var(--text-color);
  padding: 10px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
  transition: background 0.1s;
}
a.nav:hover{
  background-color: var(--fg-hov-color);
}
a.nav:active{
  background-color: var(--fg-act-color);
}
/* a.nav.active{
  background-color: var(--link-color);
  color: var(--text-color);
}
a.nav.active:hover{
  background-color: var(--link-hov-color);
  color: var(--text-color);
}
a.nav.active:active{
  background-color: var(--link-act-color);
  color: var(--text-color);
} */
a.nav span{
  position: relative;
  z-index: 2;
}
#active-background{
  background-color: var(--link-color);
  position: absolute;
  /* z-index: 0; */
}
#nav-playlists{
  font-size: 14px;
  margin: 10px;
  margin-left: 20px;
}
#navtitle{
  margin: 40px 5px;
  font-size: 26px;
  border: 0;
  user-select: none;
}
#logoimg{
  width: 40px;
  height: 40px;
  margin: 0 5px;
  vertical-align: bottom;
  position: relative;
  top: 5px;
}
#authorization-overlay{
  background-color: rgba(20,20,20,0.3);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  /* display: none; */
  position: fixed;
  top:0;
  left:0;
}
a.nav i.material-icons{
  vertical-align: bottom;
  float: right;
  position: relative;
}
i.material-icons.arrow{
  transition: transform 0.5s;
}
i.material-icons.arrow.active{
  transform: rotate(-180deg);
}
button{
  background-color: var(--link-color);
  border: 0 solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  transition: background 0.25s;
}
button:hover{
  background-color: var(--link-hov-color);
}
button:active{
  background-color: var(--link-act-color);
}
#authorization-modal{
  z-index: 3;
  background-color: var(--fg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 16px;
  width: 50%;
  max-width: 100%;
}
#auth-status{
  display: inline;
}
.m0{
  margin: 0;
}
.section{
  padding: 20px;
}
#create-section{
  text-align: center;
}
button, input{
  outline: 0;
}
input[type="text"]{
  padding: 10px;
  font-size: 20px;
  border-radius: 50px;
  /* border: 2px solid var(--fg-hov-color); */
  border: 0;
  background-color: var(--fg-color);
}
.section-title{
  margin: 0;
}
.search-component{
  display: flex;
}
.search-component input[type="text"]{
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-component input:not(:placeholder-shown)+button.search{
  background-color: var(--link-color);
}
.search-component input:not(:placeholder-shown)+button.search:hover{
  background-color: var(--link-hov-color);
}
.search-component input:not(:placeholder-shown)+button.search:active{
  background-color: var(--link-act-color);
}
.search-component button.search{
  flex-grow: 0;
  background-color: var(--fg-color);
  border-radius:0 50px 50px 0;
  transition: background 0.25s;
}
.search-component button.search i.material-icons{
  font-size: 22px;
  float: right;
  /* color: var(--text-color);
  transition: color 0.25s; */
}
/* .search-component button.search:hover i.material-icons{
  color: var(--text-hov-color);
}
.search-component button.search:active i.material-icons{
  color: var(--text-act-color);
} */
/*Playlist Grid*/
.playlist-container{
  /* display: inline-grid; */
  width: 100%;
  /* overflow-x: hidden; */
  overflow-y: hidden;
  display: inline-flex;
  transform: translateZ(0);
  padding: 10px;
  box-sizing: border-box;
}
.playlist-container .playlist{
  /* width: 300px; */
  border-radius: 5px;
  background-color: var(--fg-color);
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.25s;
  margin: 10px;
}
.playlist-container .playlist:hover{
  transform: scale(1.1);
}
.playlist-container .playlist:active{
  transform: scale(1.05);
}
.playlist-container .playlist-heading{
  margin: 0;
}
.playlist-container .playlist-description{
  margin: 0;
}
.playlist-container .playlist-thumbnail{
  width: 250px;
  height: 187.5px;
}
/*Playlist List*/
.playlist-list{
  width: 100%;
  margin: 15px 0;
}
.playlist-list .playlist{
  width: 100%;
  background-color: var(--fg-color);
  display: inline-flex;
  padding: 10px;
  box-sizing: border-box;
  transition: background 0.25s;
  user-select: none;
  cursor: pointer;
}
.playlist-list .playlist:not(:last-child){
  /* border-bottom: 1px solid var(--text-color); */

}
.playlist-list .playlist:first-child{
  border-radius: 5px 5px 0 0;
}
.playlist-list .playlist:last-child{
  border-radius: 0 0 5px 5px;
}
.playlist-list .playlist:hover{
  background-color: var(--fg-hov-color);
}
.playlist-list .playlist:active{
  background-color: var(--fg-act-color);
}
.playlist-list .playlist-info-container{
  flex-grow: 1;
}
.playlist-list .playlist-heading{
  margin: 0;
}
.playlist-list .playlist-description{
  margin: 0;
}
.playlist-list .playlist-thumbnail{
  width: 100px;
  height: 75px;
  margin-right: 10px;
  flex-shrink: 0;
}
.playlist-list i.material-icons{
  font-size: 40px;
  flex-shrink:0;
}
/*Video list Player list*/
.playlist-player{
  display:flex;
}
.video-player{
  width: 50%;
}
.video-player-img{
  width: 100%;
}
.video-list-container{
  width: 50%;
  margin: 10px;
}
.video-list{
}
.video-container{
  border-radius: 5px;
}
.video-list .video:first-child{
  border-radius: 5px 5px 0 0;
}
.video-list .video:last-child{
  border-radius: 0 0 5px 5px;
}
.video:hover{
  background-color: var(--fg-hov-color);
}
.video:active{
  background-color: var(--fg-act-color);
}
.video{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fg-color);
  padding: 10px;
  box-sizing: border-box;
  transition: background 0.25s;
  cursor:pointer;
}
.video-thumbnail{
  max-height:37.5px;
  max-width:50px;
}
.video-discription-container{
  flex-grow:1;
  margin-left:20px;
}
.video-title{
  margin:0;
  font-weight: bold;
}
.video-artist{
  margin: 0;
}
.video-duration{
  margin:0;
}
